<div class="darkcard">
  <div class="row d-flex justify-content-around">
    <div class="col-3">
      <sup><%= vendor_event.event.started_at.strftime("%B %d, %Y") %></sup>
      <h5><%= vendor_event.event.name %></h5>
    </div>
        <%= link_to "See Main", event_path(vendor_event.event_id), class:"event_btn" %>
        <%= link_to "My Event", vendor_event_path(vendor_event), class:"btn-in" %>

  </div>
</div>
