<div>
  <%= render partial: "vendor_events/calendar", locals: { vendor_event: @vendor_event } %>
</div>

  <% if @vendor_events.present? %>
    <div id="vendor_event">
      <div class="nav d-flex justify-content-around pb-0">
        <p>My Events</p>
      </div>
      <% @vendor_events.each do |vendor_event| %>
        <div>
          <%= render vendor_event %>
        </div>
      <% end %>
    <% else %>
      <p>No vendor events found</p>
    </div>
  <% end %>
</div>
