body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color:black;
  margin: 0 auto;
}

#map {
  height: 100%;
}

.notice {
  background-color: black;
  color: blue;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  border-radius: 30px;
}

.hidden {
  visibility: hidden; /* Makes the content invisible but still interactive */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*==============
MANAGE HIDDEN LINKS 
===============*/

[data-tabs-target="tab"] {
  position: absolute;
  z-index: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

[data-tabs-target="tab"].active {
  position: relative;
  z-index: 1;
  visibility: visible;
  opacity: 1;
}

/*==============

FONT
===============*/

.iceberg-regular {
  font-family: "Iceberg", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.07em;
}

.nav {
  background-color: black;
  color: #fff;
  padding: 10px;
  font-size: 24px;
}

.nav-title {
  color: rgb(255, 234, 178);
  margin-left: 20px;
  font-size: 24px;
}

.dropdown-item {
  color: #fff;
  text-decoration: none;
}

.mycard {
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(10, 50, 50, 0.5);
  border: 1px solid #333;
}

.darkcard {
  background-color: #150435;
  color:rgb(255, 234, 178);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(10, 50, 50, 0.5);
  border: .5px solid rgb(0, 140, 255);
  line-height: 125%;
  font-size: 18px;
}

.darktitle {
  color:rgb(255, 234, 178);
  font-weight: 500;
  font-family: "Iceberg", sans-serif;
  text-align: center;
  border-bottom: .5px solid rgb(0, 140, 255);
  padding-bottom: 10px;
  margin-bottom: 20px;
  }

.title {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 5vh;
  padding: 2vh;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  font-family: "Iceberg", sans-serif;
  border: 1px solid #333;
}

.subtitle {
  margin-bottom: 2vh;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 3px;
  display: inline-block;
  color: rgb(255, 234, 178);
}

.search {
  display: flex;
  align-items: center;
  flex-direction:column;
}

.search > * {
  padding-bottom: 10px;
}

.form-inputs {
  margin-right: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Pushes label left, input right */
  width: 100%;
}

.form-group > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.form-group label {
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 1px;
  width: 25%;
  margin-left: 20px;
}

.form-group input, 
.form-group select, 
.form-group textarea {
  border-radius: 5px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 1;
  margin: 15px 5px;
  max-width: 60%;
  padding: 10px;
  background-image: linear-gradient(to bottom, rgb(85, 85, 85) 20%, white 100%);
}

.form-group input:focus, 
.form-group select:focus, 
.form-group textarea:focus{
  background: white;
  box-shadow: 0 0 10px 5px rgb(98, 0, 255);
}

.form-group textarea {
  height: 80px;
}

.form-actions {
  text-align: center;
  margin-top: 20px;
}

label {
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 1px;
}


.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  visibility: visible;
}

.profile-top {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.splash{
  color: #fff;
  background-color: #000;
  padding: 30px;
  margin: 0 auto;
  border-radius: 30px;
}
/*================

NAVBAR
===============*/

/* Add a black background color to the top navigation */
.topnav {
  background: linear-gradient(to bottom right,rgb(127, 0, 186) 20%,rgb(0, 53, 213) 75%) border-box;
  box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 10px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: flex;
  color:rgb(255, 253, 181);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  font-weight: 600;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*================

PAGINATION
===============*/

.pagination {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 10px 20px;
  background-color: black;
  border-radius: 10px;
  background: linear-gradient(to bottom right, #b827fc 10%, #2c90fc 35%, #4bfd33 70%,yellow 85%, orange 100%) border-box;
}

.page-link {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-image: radial-gradient(circle,rgb(0, 189, 241) 20%,rgb(81, 0, 255));
  border-radius: 30px;
  border: 2px solid lime;
  color: black;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.9);
  padding: 7px 14px;
  background-color:rgb(98, 0, 144);
  margin: 2px 10px;
  flex: 1;
}

.current-page {
  background-color:rgb(0, 255, 72);
  color: black;
  border: 1px solid rgb(0, 89, 255);
  box-shadow: 0px 0px 8px white;
}


/*================

FOOTER
===============*/

.footer {
  display: inline-block;
  background-color: black;
  color: #fff;
  padding: 30px;
  text-align: center;
  justify-content: space-between;
  width: 100%;
  bottom: 0;
  margin: 0 auto;
  margin-top: 50px;
}

/*===================

PRIVACY POLICY
===================*/

[data-custom-class='title'], [data-custom-class='title'] * {
  font-family: Arial !important;
font-size: 26px !important;
color: #000000 !important;
}
[data-custom-class='subtitle'], [data-custom-class='subtitle'] * {
  font-family: Arial !important;
color: #595959 !important;
font-size: 14px !important;
}
[data-custom-class='heading_1'], [data-custom-class='heading_1'] * {
  font-family: Arial !important;
font-size: 19px !important;
color: #000000 !important;
}
[data-custom-class='heading_2'], [data-custom-class='heading_2'] * {
  font-family: Arial !important;
font-size: 17px !important;
color: #000000 !important;
}
[data-custom-class='body_text'], [data-custom-class='body_text'] * {
  color: #595959 !important;
font-size: 14px !important;
font-family: Arial !important;
}
[data-custom-class='link'], [data-custom-class='link'] * {
  color: #7530F1 !important;
font-size: 14px !important;
font-family: Arial !important;
word-break: break-word !important;
}

/*================

BUTTONS
=================*/

.box {
  display: flex;
  flex-wrap: wrap;
}

.event_btn {
  background-image: linear-gradient(rgb(94, 44, 194),rgb(214, 132, 252) ,rgb(163, 205, 250),rgb(118, 241, 252),rgb(109, 173, 241),rgb(148, 27, 204), rgb(51, 0, 154));

  }

.event_btn > a {
    color: black;
    &:hover {
      color: black;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
}

.btn-dang, .btn-pri, .btn-in, .event_btn {
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  font-family: "Iceberg", sans-serif;
  border: 2px solid transparent;
  color: black;
  border-radius: 10px;
  padding: 9px 13px;
  margin: 3px;
  font-size: 20px;
  &:hover {
    cursor: pointer;
    border: 5px solidrgb(98, 48, 190);
    background-image: linear-gradient(rgb(209, 0, 236),rgb(255, 131, 65) ,rgb(235, 252, 44),rgb(51, 253, 118),rgb(235, 252, 44),rgb(255, 131, 65) , rgb(209, 0, 236));
  }
}

.btn-dang {
  background-image: linear-gradient(red, rgb(255, 131, 65), red);
}

.btn-pri {
  background-image: linear-gradient(rgb(26, 220, 238),rgb(122, 247, 207), rgb(183, 248, 228), rgb(29, 201, 146), rgb(12, 146, 158));
}

.btn-in {
  background-image: linear-gradient( #2c90fc,rgb(51, 236, 253), rgb(134, 231, 240), rgb(7, 191, 207),rgb(16, 92, 173));
}

.sign_up_btn {
  display: flex;
  justify-self: center;
  font-family: "Iceberg", sans-serif;
  font-weight: 600;
  width: 80%;
  height: 10vw;
  margin: 5%;
  padding: 10px;
  font-size: 5vw;
  background-image: linear-gradient(rgb(26, 220, 238), rgb(122, 247, 207), rgb(183, 248, 228), rgb(29, 201, 146), rgb(12, 146, 158));
}

.sign_up_btn:hover { 
  box-shadow: 0 0 10px white;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.btn-container .btn {
  flex: 1 1 calc(50% - 1px); /* 2 buttons per row with spacing */
  box-sizing: border-box;
}
/*=================

ANIMATIONS
=================*/

.cat {
  display: flex;
  justify-self: center;
  animation: orbit 3s infinite linear;
  max-width: 200px;
  margin: 50px;
}

@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(15px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(15px) rotate(-360deg);
  }
}

/*================
BREADCRUMBS
================*/

.breadcrumb {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 10px;
  background-color: black;
}

.breadcrumb > li {
  background:rgb(30, 30, 30);
  padding: 10px;
  display: flex;
  align-items: center;
  margin: 0 2px;
  && > a {
    color: rgb(171, 156, 117);
      text-decoration: none;
    }
}

/*=================
Landing Page
=================*/

.intro {
  position: relative;

}

.intro::before {
  content: "";
  position: absolute;
  color: black;
  inset: 0;
  display: flex;
  border-radius: 50px;
  border: 10px solid transparent;
  background: linear-gradient(to bottom right,transparent 20%, #b827fc 40%, #2c90fc 60%, transparent 80%) border-box;
  mask: 
  linear-gradient(#000 0 0) content-box, 
  linear-gradient(#000 0 0);
  mask-composite: exclude; 
  z-index: -1;
}

/*===========
rotating cube
==============*/

.cube-text {
  font-family: "Iceberg", sans-serif;
  color: black;
}

.cube-container { /* do not touch! you will distort the cube!!!!! */
  width: 70%;
  height: 200px;
  text-align: center;
  perspective: 100em;
  justify-content: center; 
  align-items: center;
  margin: 0 auto;
}

.cube {
  width: 100%;
  height: 100px;
  position: relative;
  transform-style: preserve-3d;
  transiform-origin: center;
  transition-duration: 2s;
  margin-top: 130px; 
  display: flex;
  align-self: center;
  padding-bottom: 400px;
}

.cube-side {
  position: absolute;
  width: 317px;
  height: 317px;
  background-color: rgb(64, 0, 148);
  background-image: linear-gradient(45deg, rgb(255, 255, 0), rgb(0, 255, 0), rgb(0, 255, 255), rgb(0, 0, 255), rgb(255, 0, 255));
  background-position: center;
  background-size: cover;
  border: 15px solid;
  border-image: linear-gradient(45deg, lime, cyan, white) 1 ;
  box-shadow: 0px 0px 20px 10px rgb(79, 255, 240);
  border-radius: 10px;
  animation: animate-border 3s linear infinite, animate-shadow 3s linear infinite;
}

@keyframes animate-border {
  0% {
    border-image: linear-gradient(45deg, lime, cyan, white) 1;
  }
  33% {
    border-image: linear-gradient(45deg, cyan, white, lime) 1;
  }
  66% {
    border-image: linear-gradient(45deg, white, lime, cyan) 1;
  }
  100% {
    border-image: linear-gradient(45deg, lime, cyan, white) 1;
  }
}

.animate-border{
  animation: animate-shadow 3s linear infinite;
}

@keyframes animate-shadow {
  0% {
    box-shadow: 0px 0px 20px 15px rgb(247, 0, 255);
  }
  20% {
    box-shadow: 0px 0px 25px 15px rgb(153, 0, 255);
  }
  40% {
    box-shadow: 0px 0px 30px 20px rgb(82, 79, 255);
  }
  60% {
    box-shadow: 0px 0px 30px 17px rgb(0, 255, 234);
  }
  80% {
    box-shadow: 0px 0px 25px 15px rgb(79, 255, 117);
  }
  100% {
  box-shadow: 0px 0px 20px 15px rgb(255, 214, 79);
  }
}

.cube-side:nth-child(1){
  transform: rotateY(0deg) translateZ(10em);
}

.cube-side:nth-child(2){
  transform: rotateY(90deg) translateZ(10em);
}

.cube-side:nth-child(3){
  transform: rotateY(180deg) translateZ(10em);
}

.cube-side:nth-child(4){
  transform: rotateY(-90deg) translateZ(10em);
}

.cube-side:nth-child(5){
  transform: rotateX(90deg) translateZ(10em);
}

.cube-side:nth-child(6){
  transform: rotateX(-90deg) translateZ(9.3em);
}

.below-cube {
  margin-top: 550px;
}
/* cube radio buttons */

.radio-button {
  appearance: none;
  -webkit-appearance: none;
  display: inline-block;
  flex-direction: row;
  cursor: pointer;
  padding: 2px;
  height: 30px;
  width: 30px;
  margin: 5px;
  background-color: white;
  color: black;
  position: relative;
  border: 3px solid black;
  border-radius: 50%;
}

.radio-button:checked::after {
  content: "";
  position: absolute;
  appearance: visible;
  animation: growingButton 1s infinite;
  background: #FF00F0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  justify-self: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.61);
}

@keyframes growingButton {
    0% { transform: scale(1);
        background:rgb(255, 57, 242);
        }
    20% { transform: scale(1.1);
        background:  rgb(189, 75, 255);
        }
    40% { transform: scale(1.2);
        background:rgb(63, 146, 255);;
        }
    60% { transform: scale(1.1);
    background:#00FFD8;
        }
    80% { transform: scale(1);
    background:rgb(0, 255, 128);
        }
}

.radio-button:checked ~ .cube{
  transition-duration: 3s;
  transition-timing-function: cubic-bezier(0.19. 1, 0.22, 1);
}

.radio-button:nth-child(1):checked ~ .cube {
  transform: rotateX(-15deg) rotateY(20deg);
}

.radio-button:nth-child(2):checked ~ .cube {
  transform: rotateX(-15deg) rotateY(180deg);
}

.radio-button:nth-child(3):checked ~ .cube {
  transform: rotateX(-15deg) rotateY(90deg);
}

.radio-button:nth-child(4):checked ~ .cube {
  transform: rotateX(-15deg) rotateY(-90deg);
}

.radio-button:nth-child(5):checked ~ .cube {
  transform: rotateX(-105deg) rotateY(0deg);
}

.radio-button:nth-child(6):checked ~ .cube {
  transform: rotateX(75deg) rotateY(0deg);
}

/*=================

Fun cards
=================*/

.funcard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 300px;
  max-width: 450px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 20px;
  cursor: pointer;
  padding: 30px;
  background: linear-gradient(to bottom,rgb(0, 120, 175) 50%,rgb(35, 0, 131) 100%) border-box;
  border: 1px solid transparent;
}
  
.funcard:hover{
  animation: animate-shadow 3s linear infinite;
}

.funcard2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 10px;
  cursor: pointer;
  padding: 30px;
  background: linear-gradient(to bottom,rgb(61, 0, 166) 30%,rgb(89, 0, 126) 100%) border-box;
  border: 1px solid transparent;
  flex-wrap: wrap;
}

/*=================

CALEDAR
=================*/

/* Define color variables */
:root {
  --color-monday:rgb(255, 190, 244);
  --color-tuesday:rgb(255, 219, 172);
  --color-wednesday:rgb(255, 254, 169);
  --color-thursday:rgb(168, 255, 181);
  --color-friday:rgb(113, 255, 246);
  --color-saturday:rgb(148, 187, 255);
  --color-sunday:rgb(222, 164, 255);
}

td {
  font-size: 20px;
  padding: 2px;
  color: black;
}

td > * {
  padding: 2px;
  border-radius: 5px;
}

td.day {
  padding:5px;
  display: in-block;
}

@media (max-width: 600px) {
  .date {
    font-size: 14px;
    padding: 1px;
  }
  .day {
    padding: 2px;
    font-size: 10px;
  }
}

#event_started_at_1i, 
#event_started_at_2i,
#event_started_at_3i,
#event_application_due_at_1i,
#event_application_due_at_2i,
#event_apllication_due_at_3i {
  background-color: white;
}

.calendar-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  color:rgb(255, 248, 216);
  background-color:rgb(0, 0, 0);
  padding-top: 10px;
  padding-bottom: 10px;
}

.calendar-heading > a {
  color:rgb(255, 248, 216);
  text-decoration: none;
  font-size: 16px;
  margin: 10px;
}

.calendar-title {
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: 4px;
}

th {
  background-color: #000000;
  color:rgb(255, 248, 216);
  font-weight: normal;

}
  
.line {
  border-right: 1px solid #333;
}

.event {
  position: relative;
  display: flex;
}

.event .info-box {
  display: none;
  position: absolute;
  background-color: #000;
  padding: 30px;
  z-index: 1000;
  width: 100%;
  top: 100%; /* Position below the event */
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 8px rgba(41, 41, 41, 0.79);
  font-size: 26px;
  border-radius: 40px;
}

.info-box{
  color:rgb(255, 234, 180);
}

.event:hover .info-box {
  display: block;
}

@media (max-width: 600px) {
  .info-box {
    display: none;
  }
  .event:hover .info-box {
    display: none;
  }
  .calendar-title{
    font-size: 20px;
  }
}

/*=================

FEED
=================*/

.feed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 10px;
  align-items: center;
  width: 100%;
}

.feed-box{
  displays: flex;
  flex-direction: column;
  align-content: center;
  color:rgb(255, 246, 167);
  width: 350px;
  height: 575px;
  justify-items: center;
  margin-top: 20px;
  border-radius: 20px;
  border: 1px solid transparent;
  box-shadow: inset 5px -1px 33px 40px rgba(0, 0, 0, 0.5);
  background-color:rgba(50, 0, 100);
  }

.feed-box:hover{
  border: 2px solid rgba(255, 246, 167);
  scale: 1.05;
  box-shadow: 0 0 10px rgba(255, 246, 167);
  background-color:rgb(51, 0, 128);
}

.card-img {
  width: 200px;
  height: 200px;
  background-color: #FFFFFF;
  }

  /*=================
  COMMENTS
=================*/

.comment-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 10px;
  background: linear-gradient(to bottom right,rgb(96, 39, 252) 10%,rgb(9, 0, 174) 75%) border-box;
  padding: 10px 5px;
}

.card-body {
  padding: 0; 
}

/*==================

FOLLOWERS TABLE
=================*/

.follows {
  background: linear-gradient(to bottom, #b827fc 30%, #2c90fc 100%) border-box;
  padding: 8px 50px;
}

.follows-title{
  font-size: 24px;
  color: black;
  font-family: "Iceberg", sans-serif;
  text-align: center;
}

td {
  border-bottom: 1px solid #333;
  padding: 10px;
  background-color: #fff;
}




//=================
// Stat tracker
//=================
.form-control {
  display: inline-block;
  padding: 2px;
}

.form-control-title {
  color: black;
  font-size: 16px;
}
