<div style="background-color:black; color:rgb(158, 255, 207); padding: 20px; margin: 10px; border-radius: 50px; box-shadow: 0 0 10px rgba(10, 50, 50, 0.5); border: .5px solid lime; line-height: 175%;">
<p>Hello <%= @resource.email %>!</p>

<p>Your account has been locked due to an excessive number of unsuccessful sign in attempts.</p>

<p>Click the link below to unlock your account:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
</div>
